@page "/playerSimilar"
@using RestSharp
@using website.Data
@using website.Utils
@using dotenv.net

@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject IJSRuntime JSRuntime

<style>
    /* this in inside the body tag */
    body {
        background-color: #023430;
    }

    .atlascharts_iframe {
        /*background: #21313C; */
        border: none;
        border-radius: 2px;
        /* box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); */
        width: 100%;
        height: 200vh;
        margin: auto;
    }
</style>

<a href="/EventRegister?EventId=@_eventId">
    <img src="\mongodb-logo-green-bg.jpg" class="rounded mx-auto d-block" alt="logo">
</a>
<div class="card" style="max-width:400px;background:yellow;text-align:center">
    <div style="display:inline">
        <a href="https://www.mongodb.com/solutions/solutions-library/gaming-player-profiles-solution" target="_blank">Solution</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="https://www.mongodb.com/use-cases/gaming" target="_blank">MDB for Gaming</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/mongodb-developer/leafsteroids" target="_blank">GitHub</a>
    </div>
</div>
<div class="card bg-white">
    @if (!ready)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h2 class="text-center">Player Similarity</h2>
            <h4 class="card-title mt-3 text-center">
                Vector Search based on Scores & Speed
            </h4>
            <h4 class="card-title mt-3 text-center">
                <b class="validation-message">@_errorMessage</b>
            </h4>

            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <a href="/PlayerHome?Name=@_player.Name">
                                <i class="fa fa-user"></i>
                            </a>
                        </span>
                    </div>
                    <input id="name" @bind="_player.Name" name="" class="form-control" placeholder="" type="text" disabled>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-users"></i>
                        </span>
                    </div>
                    <input id="teamname" @bind="_player.Team" name="" class="form-control" placeholder="" type="text"
                           disabled>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-comment"></i>
                        </span>
                    </div>
                    <input id="email" @bind="_player.Email" name="" class="form-control" placeholder="" type="text" disabled>

                </div> <!-- form-group// -->
            </form>

        </article>
    }

</div> <!-- card.// -->


<div class="card bg-white">
    @if (!ready)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        rec = Similar.First(); // this player
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Your Best Run</h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>

        

        rec = SimilarBySpeed[1]; // 0 is this player
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player BY SPEED </h4>
        <center>
            <h5>@rec.Name</h5>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
        <!--
        rec = SimilarByAccel[1]; // 0 is this player
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player BY ACCELERATION</h4>
        <center>
            <h5>@rec.Name</h5>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
        -->

        rec = SimilarByStats[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player BY STATS</h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>

        rec = SimilarByScoreProgress[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player by Score Progress </h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>

        rec = SimilarByGameStyle[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player by Game Style </h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
        rec = SimilarByAverageScorePerBullet[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player by Average Score Per Bullet </h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
        rec = SimilarByAverageDamagePerBullet[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player by Average Damage Per Bullet </h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
        rec = SimilarByAveragePelletsPerBullet[1];
        chartUrl = ChartsUrl.CreateSimilarUrl(_atlasChartIdSimilar, rec.Id);
        <h4 class="card-title mt-3 text-center">Top Similar Player by Average Pellets Per Bullet </h4>
        <center>
            <h5>@rec.Name</h5>
            <table style="width:60%;">
                <tr>
                    <td>Score</td>
                    <td>@rec.SessionStatisticsPlain.Score</td>
                </tr>
                <tr>
                    <td>DamageDone</td>
                    <td>@rec.SessionStatisticsPlain.DamageDone</td>
                </tr>
                <tr>
                    <td>BulletsFired</td>
                    <td>@rec.SessionStatisticsPlain.BulletsFired</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedLarge</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedLarge</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedMedium</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedMedium</td>
                </tr>
                <tr>
                    <td>PelletsDestroyedSmall</td>
                    <td>@rec.SessionStatisticsPlain.PelletsDestroyedSmall</td>
                </tr>
                <tr>
                    <td>PowerUpBulletDamageCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletDamageCollected</td>
                </tr>
                <tr>
                    <td>PowerUpBulletSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpBulletSpeedCollected</td>
                </tr>
                <tr>
                    <td>PowerUpPlayerSpeedCollected</td>
                    <td>@rec.SessionStatisticsPlain.PowerUpPlayerSpeedCollected</td>
                </tr>
            </table>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="440" height="480" src=@chartUrl></iframe>
            <div class="text-center">
                <a href="/playerSimilar_json/?EventId=@_eventId&recordingId=@rec.Id" style="background-color:#00ed64" target="_blank"
                   class="btn btn-block center">View JSON data</a>
            </div>
        </center>
    }
</div>


@code {

    private string _eventId = string.Empty;

    private Player? _player { get; set; } = new();
    private List<SimilarRecording>? Similar { get; set; } = new();
    private List<SimilarRecording>? SimilarByStats { get; set; } = new();
    private List<SimilarRecording>? SimilarBySpeed { get; set; } = new();
    private List<SimilarRecording>? SimilarByScoreProgress { get; set; } = new();
    private List<SimilarRecording>? SimilarByGameStyle { get; set; } = new();
    //private List<SimilarRecording>? SimilarByAccel { get; set; } = new();
    private List<SimilarRecording>? SimilarByAverageScorePerBullet { get; set; } = new();
    private List<SimilarRecording>? SimilarByAverageDamagePerBullet { get; set; } = new();
    private List<SimilarRecording>? SimilarByAveragePelletsPerBullet { get; set; } = new();

    private SimilarRecording? rec;
    private string chartUrl = string.Empty;
    private bool ready = false;

    private string _name = string.Empty;
    private string _atlasChartIdSimilar = string.Empty;
    private string _chartUrl = string.Empty;
    private string _errorMessage = string.Empty;
    private readonly RestClient _restClient = RestServiceClient.Create();

    private string chartFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var queryParameters = UrlHelper.GetParameters(NavigationManager.Uri);

            _name = queryParameters[Constants.QueryParameterName];
            _eventId = queryParameters[Constants.QueryParameterEventId];
            var playerFilter = new Dictionary<string, string>
            {
                { "name", _name }
            };

            string playersUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointPlayers, playerFilter);
            var players = await _restClient.GetJsonAsync<List<Player>>(playersUrlWithQuery);
            _player = players.First();

            // overall similarity
            string similarUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilar, playerFilter);
            Similar = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarUrlWithQuery);
            // by speed
            string similarBySpeedUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarBySpeed, playerFilter);
            SimilarBySpeed = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarBySpeedUrlWithQuery);
            // by stats
            string similarByStatsUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByStats, playerFilter);
            SimilarByStats = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByStatsUrlWithQuery);
            // by acceleration
            //string similarByAccelUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByAccel, playerFilter);
            //SimilarByAccel = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByAccelUrlWithQuery);
            //by score progress
            string similarByScoreProgressUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByScoreProgress, playerFilter);
            SimilarByScoreProgress = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByScoreProgressUrlWithQuery);
            // by game style
            string similarByGameStyleUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByGameStyle, playerFilter);
            SimilarByGameStyle = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByGameStyleUrlWithQuery);
            //by AverageScorePerBullet
            string similarByAverageScorePerBulletUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByAverageScorePerBullet, playerFilter);
            SimilarByAverageScorePerBullet = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByAverageScorePerBulletUrlWithQuery);
            //by AverageDamagePerBullet
            string similarByAverageDamagePerBulletUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByAverageDamagePerBullet, playerFilter);
            SimilarByAverageDamagePerBullet = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByAverageDamagePerBulletUrlWithQuery);
            //by AveragePelletsPerBullet
            string similarByAveragePelletsPerBulletUrlWithQuery = UrlHelper.BuildUrlWithQuery(Constants.RestServiceEndpointRecordingsSimilarByAveragePelletsPerBullet, playerFilter);
            SimilarByAveragePelletsPerBullet = await _restClient.GetJsonAsync<List<SimilarRecording>>(similarByAveragePelletsPerBulletUrlWithQuery);
            ready = _player != null && Similar != null && SimilarByStats != null && SimilarBySpeed != null; //&& SimilarByAccel != null;

            DotEnv.Load();
            var envVars = DotEnv.Read();
            _atlasChartIdSimilar = envVars["ATLAS_CHART_ID_SIMILAR"];
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            Console.WriteLine(e.StackTrace);
            _errorMessage = "PLAYER NOT FOUND";
        }
    }
}